<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${name}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${name}</%block>
        </h1>
        <span>
            <%block name="pagecontent">Description: ${description}</%block>
        </span>

        <a href="/courses/course-v1:AFS+AFS03+2021_Q1/course/">
            <strong>Subscribe</strong>
        </a>

        <table>
          % for course in courses:
              % for key, val in course.items():
                % if key=='name':
                  <tr>
                    <td>
                      <a href="/courses/${course['id']}/about">${val}</a>
                    </td>
                  </tr>
                % endif
              % endfor
          % endfor
        </table>
    </section>
</main>




