<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${name}</%block>

<style>
  .subscription-block {
    margin: 1em;
  }

  .subscription-course-block {
    border: 1px solid #dedede;
    height: 8em;
    padding: 0.5em;
    margin: 0.5em 0
  }

  .subscription-course-btn {

  }
</style>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <div class="subscription-block">
          <h1 style="text-align: left;">
            <%block name="pageheader">${name}</%block>
          </h1>
        </div>
        
        <div class="subscription-block">
            <%block name="pagecontent">${description}</%block>
        </div>
        <div style="display: flex;"  class="subscription-block">

          
          <div style="width: 250px;">
            % for option in options:
              <div>
                <input type="radio" id="${option[0]}" name="options" value="${option[3]}" checked>
                <label for="${option[0]}">$${option[2]} SGD ${option[1]}</label>
              </div>
            % endfor
          </div>
          <div style="flex-grow: 1;">
            <button href="#">Subscribe</button>
          </div>

        </div>

        <div class="subscription-block">
          <h2>Courses</h2>
          % for course in courses:
          <div class="subscription-course-block">

            <img width="200" src="${course.course_image_url}"/>

            <span>
              ${course.display_org_with_default}:${course.display_number_with_default} - ${course.display_name}
            </span>
            <span>
              <a style="float: right;" href="/courses/${course.id}/course">
                View Course
              </a>
            </span>
          </div>
          % endfor
        </div>
    </section>
</main>




